{% extends 'base.html' %}
{% block main %}
    <h1 align="center">Создание товара</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
        {{ form.csrf_token }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(class="form-control") }}<br>
        {% for error in form.description.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.cost.label }}<br>
        {{ form.cost(class="form-control") }}<br>
        {% for error in form.cost.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.geopoint.label }}<br>
        <div id="map" style="width: 600px; height: 400px"></div>
        {{ form.geopoint(class="form-control", id="geopoint", placeholder="GPS координаты", maxlength="80", size="65", class="validate[required,custom[inputgps]] text-input") }}<br>
        {% for error in form.geopoint.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.radius.label }}<br>
        {{ form.radius(class="form-control") }}<br>
        {% for error in form.radius.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.photos.label }}<br>
        {{ form.photos(class="form-control") }}<br>
        {% for error in form.photos.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
    {{ form.category.label }}<br>
    {% for subfield in form.category %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td><br>
    </tr>
    {% endfor %}
    </p>
    <p>
        {{ form.mobile_telephone.label }}<br>
        {{ form.mobile_telephone}}<br>
        {% for error in form.mobile_telephone.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}