{% extends "base.html" %}
{% block main %}
{% set photos = args['photos'].split(',') %}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							  <div class="carousel-inner">
							  	{% for photo in photos %}
							  	{% if loop.first %}
							    <div class="carousel-item active">
							      <img class="d-block w-100" src="/api/photos/{{photo}}" alt="slide" width='800' height="600">
							    </div>
							    {% else %}
							    <div class="carousel-item">
							      <img class="d-block w-100" src="/api/photos/{{photo}}" alt="slide" width='800' height="600">
							    </div>
							    {% endif %}
							 	{% endfor %}
							  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Назад</span>
							  </a>
							  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Вперед</span>
							  </a>
							</div>
							</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{args['name']}}</h3>
						<p class="product-description">{{args['description']}}</p>
						<h4 class="price">Цена: <span>{{args['cost']}} ₽</span></h4>
						{% if args['radius'] > 0 %}
						<div id="mapWithRadius" name="mapWithRadius" style="width: 300px; height: 300px"></div>
						{% else %}
						<div id="mapWithoutRadius" name="mapWithoutRadius" style="width: 300px; height: 300px"></div>
						{% endif %}
						<div class="action">
							<button class="add-to-cart btn btn-default" type="button">add to cart</button>
							<button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}