{% extends "base.html" %}
{% block main %}
{% set photos = args['photos'].split(',') %}
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
							  <div class="carousel-inner">
							  	{% for photo in photos %}
							  	{% if loop.first %}
							    <div class="carousel-item active">
							      <img class="d-block w-100 img-responsive" src="/api/photos/{{photo}}" alt="slide" style='width:100%;'>
							    </div>
							    {% else %}
							    <div class="carousel-item">
							      <img class="d-block w-100 img-responsive" src="/api/photos/{{photo}}" alt="slide" style='width:100%;'>
							    </div>
							    {% endif %}
							 	{% endfor %}
							  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Назад</span>
							  </a>
							  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Вперед</span>
							  </a>
							</div>
							</div>
					</div>
					<div class="details col-md-6">
						<h3 class="product-title">{{args['name']}}</h3>{% if not args['is_active'] %}<h3 class='text-warning'>(куплено либо скрыто)</h3> {% endif %}
						<p class="product-description">{{args['description']}}</p>
						<a href="/users/{{args['user_id']}}">Профиль продавца</a>
						<h4 class="price">Цена: <span>{{args['cost']}} ₽</span></h4>
						{% if args['radius'] %}
						{% if args['radius'] > 0 %}
						<div id="mapWithRadius" name="mapWithRadius" style="width: 300px; height: 300px"></div>
						{% else %}
						<div id="mapWithoutRadius" name="mapWithoutRadius" style="width: 300px; height: 300px"></div>
						{% endif %}
						{% else %}
						<p>Нет адреса</p>
						{% endif %}
						<div class="action">
							{% if current_user.is_authenticated %}
								{% if current_user.id != args['user_id'] %}
									<a target="_blank" rel="noopener noreferrer" class="btn btn-primary" href="/products/{{args['id']}}/buy">Написать продавцу</a>
								{% else %}
								<a class="btn btn-info" href="/products/{{args['id']}}/edit">Изменить</a>
								{% if args['is_active'] %}
								<a class="btn btn-danger" href="/products/{{args['id']}}/change_state">Скрыть объявление</a>
								{% else %}
								<a class="btn btn-success" href="/products/{{args['id']}}/change_state">Показать объявление</a>
								{% endif %}
								{% endif %}
							{% else %}
								<button class="btn btn-muted" disabled="disabled">Войдите, чтобы написать продавцу</button>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}